.faq-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.left-section {
  display: flex;
  justify-content: center;
  margin-left: 0px;
  margin-bottom: 20px;
}

.faq-section p {
  max-width: 400px;
}

.left-section img {
  margin-left: 0px;
  width: 90%;
}

.right-section {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  text-align: center;
  justify-content: center;
  max-width: 800px;
  margin-right: 0px;
}

.buttons-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .faq-section {
    display: flex;
    flex-direction: row;
  }
}