.btn,
.btnblue {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #fff; /* Αλλάξτε το χρώμα του κειμένου σε λευκό */
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: #007bff; /* Μπλε χρώμα φόντου */
  border: 1px solid #007bff; /* Σταθερό μπλε χρώμα για το περίγραμμα */
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btnblue:hover {
  background-color: #0056b3; /* Μπλε χρώμα φόντου στην κατάσταση hover */
  border-color: #004380; /* Σκούρο μπλε χρώμα περιγράμματος στην κατάσταση hover */
  color: #fff; /* Χρώμα κειμένου στην κατάσταση hover */
}
