.section-wrapper {
  display: grid;
  grid-template-columns: 1fr;

  margin-top: 20px;
  gap: 70px;
}

@media screen and (min-width: 1200px) {
  .section-wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .section-wrapper> :nth-child(1) {
    margin-left: 50px;
  }


}