.tableContainer {
  width: 100%;
  margin: auto;
}

.table {
  width: 100%;
}

.tableh1 {
  margin-top: 30px;
  font-size: 18px;
  font-weight: bold;
}

.download {
  margin-right: -40px;
}

.table td {
  font-size: 25px !important;
}

.table h5 {
  font-size: 18px !important;
}

h5 {
  font-size: 18px !important;
}
