.login-section {
  background-image: url("@/assets/homepage/homebg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.login-section h1 {
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 64px;
  font-weight: 600;
  margin-left: 20%;
}
