.authform {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 380px;
  height: 550px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: opacity 0.5s ease-in;
}

.authform p {
  color: rgb(59, 6, 6);
  font-size: 12px;
  font-weight: 500;
  padding: 0;
  margin-bottom: 0px;
}

.authform img {
  height: 100px;
  width: 100px;
}

.login-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}

.login-form h1 {

  color: #000;
  font-family: Inter;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 700;
  line-height: normal;

}

.authform form label {
  font-size: 13px;
  padding-left: 10px;
  padding-bottom: 0;
  padding-top: 12px;
}

.authform form p {
  border-radius: 15px;
  text-align: center;
  color: #dc3545;
  background-color: white;
}

.login-image {
  align-self: center;
  width: 10px;
  height: auto;
  margin-bottom: 20px;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.input-group span {
  color: red;
}


.button-group button {
  background-color: #007bff;
  color: white;

}

.tab {
  color: black;
  font-weight: 500;
}


@media screen and (min-width: 576px) {
  .authform label {
    font-size: 18px;
  }

  .authform {
    width: 440px;
    height: 500px;
  }

  .authform p {
    font-size: 13px;
  }
}