.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 0px 20px;
  background-color: #f8f0f7;
  color: #000000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header button {
  background-color: transparent;
  border-radius: 10px;
}

.nav a {
  color: #000000;
  text-decoration: none;
  margin: 0 10px;
  font-size: 20px;
}

.nav a:hover {
  text-decoration: underline;
}

.logoleft {
  max-width: 300px;
  height: fit-content;

  /*margin-right: 1200px;*/
}

.icon {
  margin-left: 20px;
  cursor: pointer;
  margin-right: 20px;
}

.languageSwitcher {
  cursor: pointer;
}

.languageSwitcher span {
  margin-left: 10px;
}

.imgl {
  width: 20px;
  margin-right: 5px;
}

.icon {
  margin-top: 10px;
  margin-left: 0;
}

.languagelogin {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: -70px;
}

.loginbtn {
  margin-top: 10px;
  font-weight: 500;
  border: 1px solid gray;
  border-radius: 10px;
}

.loginbtn:hover {
  color: white;
}

@media screen and (min-width: 992px) {
  .languagelogin {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0;
  }

  .languageSwitcher {
    margin-right: 150px;
  }

  .loginbtn {
    display: flex;
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    justify-self: end;
    margin-left: 100px;
    cursor: pointer;
    margin-top: 0;
  }

  .icon {
    margin-left: 40px;
    padding: 0;
    margin-bottom: 10px;
  }

  .navbarCollapse {
    margin-left: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .languageSwitcher {
    margin-right: 180px;
  }

  .navbarCollapse {
    margin-left: 100px;
  }
}

@media screen and (min-width: 1400px) {
  .languageSwitcher {
    margin-right: 220px;
  }

  .navbarCollapse {
    margin-left: 300px;
  }
}
