.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 1rem;
}

.pagination li {
  margin: 0 5px;
}

.pagination a {
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #5d6369;
  color: white;
}

.pagination a:hover {
  background-color: #5d6369;
}

.pagination .active a {
  color: white;
  border-color: #5d6369;
}
