.custom_button {
    border: 1px solid #000000;
    text-align: center;
    font-weight: 500;
    padding: 10px 15px;
    min-width: fit-content;
    font-size: 16px;
    line-height: 1;
    border-radius: 15px;
    height: 40px;
    background: no-repeat right #f6f5f5;
    -webkit-appearance: none;
    background-position-x: 170px;
    margin-right: 10px;
}
.custom_button:hover {
    background-color: #e0e0e0;
    color: #000;
}
.custom_button option:hover {
    background-color: #e0e0e0;
}