.four-panels-container {
  display: grid;
  grid-template-columns: repeat(
    3,
    1fr
  ); /* Αλλαγή εδώ για τρία πάνελ στην ίδια γραμμή */
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  height: 400px;
}

.panel {
  background-color: rgba(250, 250, 250, 0.925);
  border: 1px solid #ddd;
  border-radius: 20px;
  height: 100%;
}

.previous-averages {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
  margin-left: 280px;
}

.previous-averages h6 {
  font-size: large;
}

.panel h5 {
  display: flex;
  text-align: center;
  margin-top: 30px;
  margin-left: 230px;
}
