.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    margin: 10px;
    padding: 16px;
    background-color: white;
    max-width: 300px;
}

.card h2 {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0.5px;
}


.card img {
    width: 100%;
}

.title {
    margin-top: 10px;
    font-size: 18px;
}