.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 30px;
 
}

.card h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card p {
    font-size: 14px;
    max-width: 150px;
}
