.section-wrapper {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto auto;
  gap: 15px;
  margin-bottom: -200px;
}

.section-wrapper > :nth-child(1) {
  grid-row: span 3; /* Καταλαμβάνει το ύψος των τριών γραμμών */
}

.section-wrapper > :nth-child(2),
.section-wrapper > :nth-child(3) {
  grid-row: auto; /* Αυτά τα δύο πλαίσια ακολουθούν την προεπιλεγμένη ροή του πλέγματος */
}
