.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    margin: 10px;
    padding: 16px;
    background-color: white;
}

.card h2{
    font-family: Poppins;
    font-size: 26px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0.5px;
}


.image {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0; 
}

.title {
    margin-top: 10px;
    font-size: 18px;
}
