.center {
  display: flex;
  justify-content: center;
}

.registration-status {
  display: flex;
  justify-content: center;
  width: 1196px;
  height: 159px;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #f6f5f5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  align-items: center;
  margin-top: 25px;
  margin-bottom: 20px;
}

.registration-status div:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.registration-status button {
  margin-right: 30px;
  margin-left: 20px;
}

.text {
  padding: 10px;
}