.student {
  display: flex;
  flex-direction: column;
  margin-left: 150px;
}

.student-content {
  margin-top: 130px;
}

.selectedButton {
  background-color: #e0e0e0 !important;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  font-weight: 600;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@media screen and (min-width: 992px) {
  .student {
    display: flex;
    flex-direction: row;
  }

  .student .student-content {
    margin-top: 0;
    margin-left: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .student .student-content {
    margin-left: 160px;
  }
}
